.jumbotron {
	background-color: #f5973d;
	color: black;
	margin-top: 40px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #f5973d;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-pez {
	flex: 1 150px;
}

.btn-info {
	width: 100%;
}

thead {
	background-color: #80dfdc;
}