$orange: #f5973d;
$lightblue: #80dfdc;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $orange;
	color: black;
	@include margenes(50px, 10px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $orange;
	@include margenes(10px, 0px);
}

.card-pez {
	flex: 1 150px;
}

.btn-info {
	width: 100%;
}

thead {
	background-color: $lightblue;
}