.jumbotron {
  background-color: #f5973d;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f5973d;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-pez {
  flex: 1 150px; }

.btn-info {
  width: 100%; }

thead {
  background-color: #80dfdc; }

/*# sourceMappingURL=styles.css.map */
